.item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.icon {
  width: 3rem;
  height: 3rem;
}
.times {
 margin-left: auto;
}
.times_text {
  @media screen and (max-width: 430px) {
    display: none;
  }
}

.link {
  color: var(--accent-color);

  &:hover {
    color: var(--popup-contrast-color);
  }
}