.item {
  display: flex;
  gap: 1.5rem;
}
.icon {
  width: 3rem;
  height: 3rem;
}
.times {
 margin-left: auto;
}
.link {
  color: var(--accent-color);

  &:hover {
    color: var(--popup-contrast-color);
  }
}