:root[class="light"] {
  --bg-page: #f7f5fa;
  --bg-complementary: #6039aa;
  --bg-btn-color: #6039aa;
  --accent-color: #6039aa;
  --font-main-color: black;
  --font-secondary-color: white;
  --auxiliary-color: #797979;
  --inactive-bg-color: #aaaaaa;
  --color-link-inactive: rgba(255, 255, 255, 0.6);
  --error-color: #b90101;
  --success-color: #006600;
  --bg-neutral: rgba(255, 255, 255, 0.4);
  --bg-popup-color: #ffffff;
  --popup-contrast-color: black;
  --popup-link-inactive: rgba(0, 0, 0, 0.6);
  --popup-shadow-color: rgb(0 0 0 / 10%);
  --input-bg-color: #f7f5fa;
  --bg-start-color: #1c1e33;
  --bg-initial-btn-color: #03a9f4;
 }

:root[class="dark"] {
  --bg-page: #2a282c;
  --bg-complementary: #B3ABFF;
  --bg-btn-color: #fdc10a;
  --accent-color: #8f4af9;
  --font-main-color: white;
  --font-secondary-color: black;
  --auxiliary-color: #b3b3b3;
  --inactive-bg-color: #aaaaaa;
  --color-link-inactive: rgba(0, 0, 0, 0.6);
  --error-color: #b90101;
  --success-color: #006600;
  --bg-neutral: rgba(255, 255, 255, 0.4);
  --bg-popup-color: #f7f5fa;
  --popup-contrast-color: black;
  --popup-link-inactive: rgba(0, 0, 0, 0.6);
  --popup-shadow-color: rgb(0 0 0 / 10%);
  --input-bg-color: #f7f5fa;
  --bg-start-color: #1c1e33;
  --bg-initial-btn-color: #03a9f4;
}
