:root[class="light"] {
  --bg-page: #f7f5fa;
  --bg-btn-color: #6039aa;
  --accent-color: #6039aa;
  --font-main-color: black;
  --font-secondary-color: white;
  --auxiliary-color: #797979;
  --inactive-bg-color: #aaaaaa;
  --color-link-inactive: rgba(255,255,255, 0.6);
  --error-color: #b90101;
  --success-color: #006600;

  --bg-popup-color: #ffffff;
  --popup-contrast-color: black;
  --popup-link-inactive: rgba(0, 0, 0, 0.6);
  --popup-shadow-color: rgb(0 0 0 / 10%);
  --input-bg-color: rgb(232, 240, 254);
 }

:root[class="dark"] {
  --bg-page: #2a282c;
  --bg-btn-color: #fdc10a; 
  --accent-color: #8f4af9;
  --font-main-color: white;
  --font-secondary-color: black;
  --auxiliary-color: #b3b3b3;
  --inactive-bg-color: #aaaaaa;
  --color-link-inactive: rgba(0,0,0, 0.6);
  --error-color: #b90101;
  --success-color: #006600;

  --bg-popup-color: #f7f5fa;
  --popup-contrast-color: black;
  --popup-link-inactive: rgba(0, 0, 0, 0.6);
  --popup-shadow-color: rgb(0 0 0 / 10%);
  --input-bg-color: rgb(232, 240, 254);
}


