.container {
  position: absolute;
  background-image: url("../../../games/ColorMatchGame/images/color-match-bg.png");
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;

    &::before {
      background-color: rgba(0, 0, 0, 0.3);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
}

.img_bg {
  width: 100%;
  height: 100%;
}

.text {
  width: 10rem;
  height: 10rem;
  background-color: var(--auxiliary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 600;
  color: var(--font-secondary-color);
  border-radius: 50%;
  z-index: 5;
}