@import "../../../common.scss";

.account_container {
    position: relative;
    @include flex-row;

    @media screen and (max-width: 800px) {
        display: none;
    }
}

.account_descr {
    @include font-main(1.1rem);
    text-align: right;
    color: #FFFFFF;
}

.account_btn {
    width: 6.3rem;
    display: inline-flex;
    align-items: center;
    position: relative;
    background: transparent;

    &:hover {
        &::after {
            border-bottom-color: var(--font-secondary-color);
        }
    }

    &::after {
        content: "";
        position: absolute;
        right: 6px;
        top: calc(50% - 2px);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid rgba(255, 255, 255, 0.5);
        transition: transform 0.2s;
        transform: rotate(180deg);
    }
}

.avatar_photo {
    width: 3.6rem;
    height: 3.6rem;
}

.account_btn__active {

    &:hover {
        &::after {
            border-bottom-color: var(--font-secondary-color);
        }
    }

    &::after {
        transform: rotate(360deg);
    }
}


.menu_acc {
    width: 100%;
    padding-bottom: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem
}

.account_btn_menu {
    background: transparent;
}