.section {
  padding: 7rem 0 9rem;

  @media screen and (max-width: 750px) {
    padding: 2rem 0 4rem;
  }
}

.effect {
  background-color: var(--bg-auxiliary-color);
}

.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;

  @media screen and (max-width: 1200px) {
    gap: 4rem;
  }

  @media screen and (max-width: 750px) {
    gap: 2rem;
  }
}

.effect_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  @media screen and (max-width: 1200px) {
    gap: 3rem;
  }

  @media screen and (max-width: 750px) {
    gap: 1.5rem;
  }
}

.start_title {
  font-size: 3.6rem;
  text-align: center;

  @media screen and (max-width: 1200px) {
    font-size: 3.2rem;
  }

  @media screen and (max-width: 750px) {
    font-size: 2.8rem;
  }
}

.start_subtitle {
  font-size: 1.6rem;
  text-align: center;

  @media screen and (max-width: 750px) {
    font-size: 1.4rem;
  }
}

.effects_list {
  display: grid;
  grid-template-columns: repeat(4, minmax(17rem, 1fr));
  gap: 1.5rem;

  @media screen and (max-width: 750px) {
    grid-template-columns: repeat(2, minmax(17rem, 25rem));
  }
  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(1, minmax(17rem, 25rem));
    gap: 1.2rem;
  }
}

.effect_item {
  padding: 1rem;
  text-align: center;

  &_title {
    font-size: 5rem;
    font-weight: 600;

    @media screen and (max-width: 900px) {
      font-size: 4rem;
    }
  }
}

.effect_item_description {
  @media screen and (max-width: 900px) {
    font-size: 1.3rem;
  }
}

.wrapper {
    max-width: 110rem;
    padding: 0 2rem;
    margin: 0 auto;
  }