.container {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  order: 1;
  position: relative;
}

.text {
  animation: appear 1s;
}

.answer_icon {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: 30%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.answer_buttons {
  display: flex;
  gap: 0.5rem;
  order: 1;
  margin-bottom: 2rem;
}

@keyframes appear {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
