@import "../../common.scss";

.menu {
    transform: translateX(-200vw);

    &__open {
        min-width: 28rem;
        padding: 6.2rem 0 0 2rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-color: #333;
        transform: translateX(0);
        transition: transform 0.4s ease-in-out;
    }
}