.container {
  width: 100%;
  min-height: 60vh;
  padding: 2rem;
  background-color: var(--bg-popup-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 2px 3px var(--popup-shadow-color);
  border-radius: 1rem;
}

.text {
  text-align: center;
  color: var(--popup-contrast-color);
  font-weight: 500;
}
