.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  min-height: 50rem;

  @media screen and (max-width: 850px) {
    max-width: 65rem;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50rem, 1fr);
    justify-content: center;
  }
}

.left {
  background-color: var(--bg-popup-color);
  color: var(--popup-contrast-color);
  padding: 2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 3px var(--popup-shadow-color);

  @media screen and (max-width: 450px) {
    padding: 1rem;
  }
}

.right {
  .description {
    color: var(--auxiliary-color);
  }
}
