.nav_item {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-link-inactive);

    &:hover {
        color: var(--font-secondary-color);
    }
}

.nav_item_menu {
    font-size: 1.5rem;
    color: inherit;
    &:hover {
        color: var(--popup-contrast-color);
    }
}