.container {
  background-color: var(--bg-popup-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 2px 4px var(--popup-shadow-color);
  padding: 2rem;
  border-radius: .5rem;
  border: none;
  margin: 0 auto;
  color: var(--popup-contrast-color);
}

.fit-width {
  min-width: fit-content;
  max-width: max-content;
}

.full-width {
  width: 100%;
}

.title {
  font-size: 2.3rem;
  color: var(--popup-contrast-color);
  width: 100%;
  text-align: center;
}