@import "../../common.scss";

.container {
  background-color: var(--bg-popup-color);
  @include flex-column($gap: 2rem, $align: center);
  box-shadow: 0 2px 4px var(--popup-shadow-color);
  padding: 2rem;
  border-radius: .5rem;
  margin: 0 auto;
  color: var(--popup-contrast-color);
}

.fit-width {
  width: max-content;
}

.full-width {
  width: 100%;
}

.title {
  @include font-main($size: 2.3rem);
  color: var(--popup-contrast-color);
  width: 100%;
  text-align: center;
}