.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  padding: 2rem;
} 

.rules {
  font-size: 2rem;
  color: var(--font-main-color);
}
