.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.chart {
  padding: 2rem;
  background-color: var(--bg-popup-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 2px 3px var(--popup-shadow-color);
  border-radius: 2rem;
}
.period_bar {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 0 1rem;

  @media screen and (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.periods {
  display: flex;
  gap: 2rem;

  @media screen and (max-width: 400px) {
    gap: 1rem;
  }
}

.period {
  color: var(--auxiliary-color);
  &:hover {
    cursor: pointer;
    color: var(--font-main-color);
  }
}
.period_active {
  color: var(--font-main-color);
  border-bottom: 2px solid var(--accent-color);
  pointer-events: none;
}