@import "../../common.scss";

.navigation {
    color: var(--color-link-inactive);
}

.menu_navigation {
    color: inherit;
}

.nav_list {
    @include flex-row();
    gap: 2rem;
    text-transform: uppercase;
}

.nav_list_menu {
    @include flex-column();
    gap: 0;
}

.menu_nav_list {
    @include flex-column();
    padding: 1.7rem 0 3.5rem;
    gap: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


