@import "../../common.scss";

.container {
  display: none;

  &__open {
    display: block;
    width: 28rem;
    padding: 1.2rem;
    z-index: 3;
    list-style: none;
    background-color: transparent;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: var(--bg-popup-color);
    color: var(--popup-link-inactive);
    box-shadow: 0 8px 8px 0 var(--popup-shadow-color), 0 2px 8px 0 var(--popup-shadow-color);
  }

  &:hover {
    color: var(--popup-contrast-color);
  }
}

.item {
  @include flex-row();
}
