.section {
  padding: 7rem 0 9rem;

  @media screen and (max-width: 750px) {
    padding: 2rem 0 4rem;
  }
}

.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  @media screen and (max-width: 1200px) {
    gap: 3.5rem;
  }

  @media screen and (max-width: 750px) {
    gap: 2rem;
  }
}

.benefit {
  background-color: var(--bg-page);
}

.benefit_container {
  padding: 1rem;

  &::after,
  &::before {
    content: "";
    width: 160px;
    height: 5px;
    background-color: var(--bg-auxiliary-color);
    border-radius: 10px;
  }
}

.start_title {
  text-align: center;
}

.benefits_list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 30%);

  @media screen and (max-width: 800px) {
    grid-template-columns: minmax(27rem, 32rem);
    gap: 2rem;
  }
}

.benefit_item {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.age_title {
  font-size: 2rem;
  font-weight: 600;
  color: #27a8e0;
}

.item_description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: initial;
}

.wrapper {
  max-width: 110rem;
  padding: 0 2rem;
  margin: 0 auto;
}

