.container {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.options {
  position: absolute;
  top: calc(100% + .5rem);
  right: 0;
  display: none;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: .5rem;
  background: var(--bg-popup-color);
  border-radius: .5rem;
  box-shadow: 0 2px 5px var(--popup-shadow-color);
}

.options_open {
  display: flex;
}

.option {
 text-transform: capitalize;
 display: flex;
 align-items: center;
 gap: 1rem;

  & img {
    width: 3rem;
    height: 3rem;
  }
}

.custom_select {
  width: 5rem;
  position: relative;

  .select_field {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    text-transform: capitalize;
    color: var(--font-secondary-color);
    background-color: transparent;
    outline: none;
    & img {
      width: 3rem;
      height: 3rem;
    }
    &:hover {
      cursor: pointer;
      & .arrow {
        border-color: var(--font-secondary-color) transparent transparent transparent;
      } 
    }
    & .arrow {
      width: 0;
      height: 0;
      margin-top: 5px;
      border: 5px solid transparent;
      border-color: var(--auxiliary-color) transparent transparent transparent;
      &:hover {
        cursor: pointer;
        border-color: var(--font-secondary-color) transparent transparent transparent;
      }
    }
  }
}

.theme_btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // transition: all .5s ease;
}

.dark {
  background-image: url("../../../assets/images/Menu/moon.svg");
}

.light {
  background-image: url("../../../assets/images/Menu/sun.svg");
}

.roll_right {
  animation: roll-right .5s ease;
}

.roll_left {
  animation: roll-left .5s ease;
}

@keyframes roll-right {
  from {
    transform: scale(0);
    transform: rotate(0deg);
  }

  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes roll-left {
  from {
    opacity: 0;
    transform: scale(0);
    transform: rotate(0deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: rotate(-180deg);
  }
}