.info_container {
  width: 70%;
  height: 3rem;
  padding: 0.5rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--inactive-bg-color);
}

.item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.item_title {
  text-transform: uppercase;
}

.item_content {
  font-weight: 600;
}