.wrapper {
  width: 100%;
  background: var(--bg-neutral);
  padding: 1rem 2rem;
  box-shadow: 0 2px 3px var(--popup-shadow-color);
  flex: 0 0 auto;
  display: flex;
  gap: 3rem;
  justify-content: space-between;

  @media screen and (max-width: 450px) {
    padding: 1rem;
  }
}