.wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-start;

  .icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: .4rem;
    object-fit: contain;
  }

  .content {
    .title {
      font-weight: 600;
    }
    .description {
      font-size: 1.6rem;
    }
  }
}
