.title {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 160%;
}

.games {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.category__container {
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 850px) {
  .games {
    grid-template-columns: repeat(2, 1fr);
  }
}