.title {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 160%;
  color: var(--accent-color);
  
  & svg {
    width: 3.5rem;
    fill: var(--accent-color);
    vertical-align: middle;
  }
}

.games {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.category__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 850px) {
  .games {
    grid-template-columns: repeat(2, 1fr);
  }
}