.btn {
  transition: 0.2s;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-transform: capitalize;
  border: 2px solid var(--bg-btn-color);
  min-width: fit-content;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
}

.standart {
  width: 12rem;
}

.small {
  min-width: 2.5rem;
}

.large {
  width: 18rem;
}

.normal {
  background-color: var(--bg-btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-secondary-color);
}

.inactive {
  background-color: transparent;
  color: var(--auxiliary-color);
}

.ghost {
  border: none;
  color: var(--accent-color);
}
