.btn {
  transition: 0.2s;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 2px solid var(--bg-btn-color);
  min-width: fit-content;
  text-transform: capitalize;
  transition: all .3s ease;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 3px 0px var(--popup-shadow-color);
  }
}

.standart {
  width: 12rem;
}

.small {
  min-width: 2.5rem;
}

.large {
  width: 18rem;
}

.huge {
  width: 26rem;
}

.normal {
  background-color: var(--bg-btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-secondary-color);
}

.inactive {
  background-color: transparent;
  color: var(--auxiliary-color);
}

.ghost {
  border: none;
  color: var(--accent-color);
}
.neutral {
  background-color: var(--bg-neutral);
  text-transform: none;
  color: var(--font-main-color);
  border: 1px solid var(--auxiliary-color);
}

.initial {
  width: 26rem;
  padding: 0.7rem 0;
  font-size: 1.4rem;
  background-color: var(--bg-initial-btn-color);
  border-color: var(--bg-initial-btn-color);
  border-radius: 5rem;
  text-transform: uppercase;
  color: var(--font-secondary-color);
}
