.game_container {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-image: url("./images/color-match-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
